{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

	<link class="js-stylesheet" href="{% static 'css/dark.css' %}" rel="stylesheet">

</head>
<body>
    <br><br>
    <section id="" class="container-fluid d-flex align-items-center justify-content-between">
        <div class="container">
            <h1>Change password</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.old_password.id_for_label }}">Current password:</label>
                    <input type="password" name="{{ form.old_password.name }}" class="form-control" id="{{ form.old_password.id_for_label }}" placeholder="Enter current password" required>
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
                    <input type="password" name="{{ form.new_password1.name }}" class="form-control" id="{{ form.new_password1.id_for_label }}" placeholder="Enter the new password" required>
                </div>                           
                <br>
                <ul>
                    <li>Your password cannot be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password cannot be a commonly used password.</li>
                    <li>Your password cannot be a frequently used password.</li>
                    <li>Your password cannot be entirely numeric.</li>
                </ul>
                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
                    <input type="password" name="{{ form.new_password2.name }}" class="form-control" id="{{ form.new_password2.id_for_label }}" placeholder="Confirm new password" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary form-control">Change password</button>
            </form>
        </div>
    </section>

	<script src="{% static 'js/app.js' %}"></script>

</body>
</html>

